@import url("./CSS/header.css");
@import url("./CSS/footer.css");
@import url("./CSS/main.css");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --body-background-color: #0f405a;
  --font-family: "Open Sans", sans-serif;
  --font-color: white;
  --nav-font-color: #fc7753;
}

body {
  background-color: black;
  color: var(--font-color);
  font-family: var(--font-family);
}

main {
  width: 100%;
  height: auto;
  background-color: aquamarine;
}

footer {
  width: 100%;
  height: 1auto;
  background-color: aliceblue;
}
