.header-container {
  width: 100%;
  height: auto‚;
  background-color: var(--body-background-color);
  color: var(--font-color);
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
  position: relative;
}

.nav-bar li {
  margin: 25px;
  padding: 10px;
  list-style: none;
}

.nav-bar li > .tag-image {
  border-radius: 50% rgb(236, 29, 29);
  border: 5px white;
  position: absolute;
  left: 0;
}

.nav-bar li a {
  text-decoration: none;
  color: var(--nav-font-color);
  font-size: 20px;
}

.nav-bar li a:hover {
  color: white;
}
