.main-container {
  display: flex;
  flex-direction: column;
}
.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: #fff 1px solid;
}

.home-container .--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.home-container .--left h1 {
  font-size: 2rem;
}
.--span {
  color: var(--nav-font-color);
}

.home-container .--left .dev {
  font-size: 1.5rem;
}

.dev {
  font-size: 50px;
}

/* Text Animation Start */
.rw-wrapper {
  width: 70%;
  position: relative;
  margin: 25px auto 0 auto;
  padding: 10px;
  font-size: 1.5rem;
  display: flex;
}

.iam {
  white-space: nowrap;
  font-size: 2rem;
}

.rw-words {
  display: inline-block;
  margin-left: 16px;
  position: relative;
  font-size: 2rem;
}

.rw-words-1 p {
  /* max-width: 0; */
  /* opacity: 0; */
  color: var(--nav-font-color);
  animation: slideDown 10s ease-in infinite;
  position: absolute;
  top: 0;
  left: 0;
}

.rw-words-1 p:nth-child(2) {
  opacity: 0;
  animation-delay: 2s;
}

.rw-words-1 p:nth-child(3) {
  opacity: 0;
  animation-delay: 5s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

/* Text nimation ends */

.home-container .--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container .--right img {
  height: 60vh;
  width: 100%;
}

/* About me Section */

.aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  width: 100%;
}

.aboutme-container .title {
  margin: 1rem;
}

.aboutme-subcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.get-to-know {
  padding: 20px;
  margin: 20px;
  width: 70%;
}

.get-to-know .title,
.skills .title {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.get-to-know .content {
  line-height: 1.5rem;
  font-size: 1.15rem;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
}

.skills-list-item {
  margin: 5px;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 10px;
  color: slategray;
  border: solid 0.5px black;
}

/* Projects */

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: solid 1px;
}

.project-container .title {
  margin: 1rem;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project img {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  /* display: block;
  position: relative;
  transition: translate 0.5s; */
}

.layer h3 {
  margin-bottom: 20px;
}

.layer p {
  margin-bottom: 20px;
}

.layer .icons {
  margin: 10px;
}
.layer .icon1,
.icon2 {
  padding: 10px 10px;
  margin-right: 10px;
  color: #ff004f;
  text-decoration: none;
  line-height: 60px;
  font-size: 25px;
  background-color: #fff;
  border-radius: 50%;
}

.get-in-touch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: solid 1px;
}

.get-in-touch-container .title {
  margin: 1rem;
}

.get-in-touch-container p {
  font-size: 20px;
}

.form-container {
  border: 2px black solid;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  margin: 10px;
  display: flex;
  justify-content: center;
}

input[type="text"],
input[type="email"] {
  padding: 10px 10px;
  margin: 10px 0px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

label {
  padding: 5px;
}
